DataFrame

In [0]:
# https://www.databricks.com/glossary/what-are-dataframes

# DataFrame is a two dimenstional table consists of rows and columns like spreadheet
# Each column is having respected column name
# Each row will be determined by the row number

In [0]:
# create a dataframe from a static list
list01 = [(100,'Thilak'),(101,'Arun'),(102,'Hemachandran'),(103,'mohamed'),(104,'irin'),(105,'Manisah')]
col_name = ['ID','Name']
df = spark.createDataFrame(data = list01, schema = col_name)
df.show()
type(df)

+---+------------+
| ID|        Name|
+---+------------+
|100|      Thilak|
|101|        Arun|
|102|Hemachandran|
|103|     mohamed|
|104|        irin|
|105|     Manisah|
+---+------------+

Out[4]: pyspark.sql.dataframe.DataFrame

In [0]:
# https://spark.apache.org/docs/latest/sql-data-sources-load-save-functions.html

In [0]:
#Create a dataframfrom csv file load in DBFS

file_path = '/FileStore/emp_2.csv'
df = spark.read.format("csv").option("header","True").load(file_path)
df.show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul| 10000|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000|   UK|
+------+------+------+-----+

In [0]:
# crate a datafram from txt file locatd in DBFS
file_path = "/FileStore/PIPETEST.txt"
df = spark.read.format("csv").option("header","True").option("sep","|").load(file_path)
df.show()

+---+----+-----+
| ID|NAME| DEPT|
+---+----+-----+
|101|AJAY|SALES|
|102| RAJ|   HR|
+---+----+-----+

In [0]:
#write the above script with options instead of options
file_path = "/FileStore/PIPETEST.txt"
df = spark.read.format("csv").options(header = True, sep = '|').load(file_path)
df.show()

+---+----+-----+
| ID|NAME| DEPT|
+---+----+-----+
|101|AJAY|SALES|
|102| RAJ|   HR|
+---+----+-----+

In [0]:
#read a file from a parquet file
test_path = '/FileStore/emp1.parquet'
df = spark.read.format("parquet").load(test_path)
df.show()

+-----------+----------+---------+------+-------------+-----------+---------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|SALARY|DEPARTMENT_ID|LOCATION_ID|HIRE_DATE|
+-----------+----------+---------+------+-------------+-----------+---------+
|        101|    Donald|     null|  2600|           10|       1701|21-Jun-07|
|        102|   Douglas|    Grant|  2600|           20|       1702|13-Jan-08|
|        103|  Jennifer|   Whalen|  4400|           30|       1703|17-Sep-03|
+-----------+----------+---------+------+-------------+-----------+---------+

In [0]:
# check the list of mount ponts
dbutils.fs.mounts()

Out[25]: [MountInfo(mountPoint='/databricks-datasets', source='databricks-datasets', encryptionType=''),
 MountInfo(mountPoint='/databricks/mlflow-tracking', source='databricks/mlflow-tracking', encryptionType='sse-s3'),
 MountInfo(mountPoint='/databricks-results', source='databricks-results', encryptionType='sse-s3'),
 MountInfo(mountPoint='/databricks/mlflow-registry', source='databricks/mlflow-registry', encryptionType='sse-s3'),
 MountInfo(mountPoint='/', source='DatabricksRoot', encryptionType='sse-s3')]

In [0]:
## mounint ADLS and SQL into DBframe

Transformations

In [0]:
# https://www.databricks.com/glossary/what-is-data-transformation

# Data transformation is the process of taking raw data that has been extracted from data sources and turning it into usable datasets.

In [0]:

Select required columns
changing the data type
Adding calculated columns
renaming columns
filtering
string and data formatting
Aggregations
remove nulls and duplicates
joins
unions
rank,dense rank, getting lastrow an net row values

In [0]:
# Create a dataframe from a static list
# syntax: spark.createDataFrame(data = <list> , schema = <schemalist>)

staticlist = [(" raja", "pushpa", "USA","",30000),
            ("        priya", "     pushpa", "USA","",29900),
            (" Karthik",       "Subu", "USA","CA",6000),
            (" James", "Smith            ", "USA","FL",20000),
            ("Martin", "Jones", "         USA","CA",3000),
            ("Sam", "Anderson        ", "UK","LND",8000),
            ("      Maria", "       Patrick", "UK","MCR",7000),
            ("Robet", "Bevon", "UK","LND",3500),
            ("Maria", "         Anderson", "UK","MCR",3000)
            ]
columns = ["firstname","lastname","country","state","sal"]            
df = spark.createDataFrame( data = staticlist, schema = columns)
df.show()

+-------------+-----------------+------------+-----+-----+
|    firstname|         lastname|     country|state|  sal|
+-------------+-----------------+------------+-----+-----+
|         raja|           pushpa|         USA|     |30000|
|        priya|           pushpa|         USA|     |29900|
|      Karthik|             Subu|         USA|   CA| 6000|
|        James|Smith            |         USA|   FL|20000|
|       Martin|            Jones|         USA|   CA| 3000|
|          Sam| Anderson        |          UK|  LND| 8000|
|        Maria|          Patrick|          UK|  MCR| 7000|
|        Robet|            Bevon|          UK|  LND| 3500|
|        Maria|         Anderson|          UK|  MCR| 3000|
+-------------+-----------------+------------+-----+-----+

In [0]:
# check the datatype of any variable

type(df)

#check the schema of the dataframe
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- sal: long (nullable = true)

In [0]:
# https://spark.apache.org/docs/latest/sql-ref-datatypes.html
# https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/data_types.html

# create a new schema for a dataframe using the StructType and StructField

from pyspark.sql.types import * 

StructSchema = StructType([
                            StructField('FirstName',StringType(),False),
                            StructField('LastName',StringType(),True),
                            StructField('Country',StringType(),False),
                            StructField('State',StringType(),False),
                            StructField('sal',StringType(),False),
])

In [0]:
# create the datafreame using the new struct schema
df = spark.createDataFrame(data = staticlist, schema= StructSchema)
df.show()
df.printSchema()

+-------------+--------+------------+-----+-----+
|    FirstName|LastName|     Country|State|  sal|
+-------------+--------+------------+-----+-----+
|         raja|  pushpa|         USA|     |30000|
|        priya|  pushpa|         USA|     |29900|
|      Karthik|    Subu|         USA|   CA| 6000|
|        James|   Smith|         USA|   FL|20000|
|       Martin|   Jones|         USA|   CA| 3000|
|          Sam|Anderson|          UK|  LND| 8000|
|        Maria| Patrick|          UK|  MCR| 7000|
|        Robet|   Bevon|          UK|  LND| 3500|
|        Maria|Anderson|          UK|  MCR| 3000|
+-------------+--------+------------+-----+-----+

root
 |-- FirstName: string (nullable = false)
 |-- LastName: string (nullable = true)
 |-- Country: string (nullable = false)
 |-- State: string (nullable = false)
 |-- sal: string (nullable = false)

In [0]:
# most used pyspark libaries

from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import *
from delta.tables import *

In [0]:
# Select specific columns from a dataframe using the "column name" selection
# usinsg name in inverted columns is not case sensitive

df1 = df.select ("sal")
df1.show()

+-----+
|  sal|
+-----+
|30000|
|29900|
| 6000|
|20000|
| 3000|
| 8000|
| 7000|
| 3500|
| 3000|
+-----+

In [0]:
df1 = df.select("firstname","Lastname")
df1.show()

+-------------+--------+
|    firstname|Lastname|
+-------------+--------+
|         raja|  pushpa|
|        priya|  pushpa|
|      Karthik|    Subu|
|        James|   Smith|
|       Martin|   Jones|
|          Sam|Anderson|
|        Maria| Patrick|
|        Robet|   Bevon|
|        Maria|Anderson|
+-------------+--------+

In [0]:
#options3: using dataframe method 2
# this method the colmn names are not case sensitive
df1 = df.select(df["FirstName"],df["LastName"])
df1.show()

+-------------+-----------------+
|    FirstName|         LastName|
+-------------+-----------------+
|         raja|           pushpa|
|        priya|           pushpa|
|      Karthik|             Subu|
|        James|Smith            |
|       Martin|            Jones|
|          Sam| Anderson        |
|        Maria|          Patrick|
|        Robet|            Bevon|
|        Maria|         Anderson|
+-------------+-----------------+

In [0]:
#option2  uinsg the dataframe method
# using this method column name should be case sensitive
df1 = df.select(df.FirstName, df.LastName)
df1.show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3378, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<command-601518225244921>", line 3, in <module>
    df1 = df.select(df.FirstName, df.LastName)
  File "/databricks/spark/python/pyspark/instrumentation_utils.py", line 48, in wrapper
    res = func(*args, **kwargs)
  File "/databricks/spark/python/pyspark/sql/dataframe.py", line 2964, in __getattr__
    raise AttributeError(
AttributeError: 'DataFrame' object has no attribute 'FirstName'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 1997, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1112, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1006, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/ultratb.py", line 859, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/ultratb.py", line 812, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/ultratb.py", line 730, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/databricks/python/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/databricks/python/lib/python3.9/site-packages/stack_data/core.py", line 698, in lines
    pieces = self.included_pieces
  File "/databricks/python/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/databricks/python/lib/python3.9/site-packages/stack_data/core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/databricks/python/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/databricks/python/lib/python3.9/site-packages/stack_data/core.py", line 628, in executing_piece
    return only(
  File "/databricks/python/lib/python3.9/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [0]:
# select the columns based on column method
# column name is not case sensitive in col method
from pyspark.sql.functions import *
df2 = df.select(col("firstname"),col("LastName"))
df2.show()

+-------------+-----------------+
|    firstname|         LastName|
+-------------+-----------------+
|         raja|           pushpa|
|        priya|           pushpa|
|      Karthik|             Subu|
|        James|Smith            |
|       Martin|            Jones|
|          Sam| Anderson        |
|        Maria|          Patrick|
|        Robet|            Bevon|
|        Maria|         Anderson|
+-------------+-----------------+

In [0]:
# select the column names based on whildcard name
df1 = df.select(df.colRegex("`.*name*`"))
df1.show()

+-------------+-----------------+
|    firstname|         lastname|
+-------------+-----------------+
|         raja|           pushpa|
|        priya|           pushpa|
|      Karthik|             Subu|
|        James|Smith            |
|       Martin|            Jones|
|          Sam| Anderson        |
|        Maria|          Patrick|
|        Robet|            Bevon|
|        Maria|         Anderson|
+-------------+-----------------+