In [0]:

from pyspark.sql.types import *


staticlist = [("raja", "pushpa", "USA","",30000),
            ("priya", "pushpa", "USA","",29900),
            ("Karthik","Subu", "USA","CA",6000),
            ("James", "Smith", "USA","FL",20000),
            ("Martin", "Jones", "USA","CA",3000),
            ("Sam", "Anderson", "UK","LND",8000),
            ("Maria", "Patrick", "UK","MCR",7000),
            ("Robet", "Bevon", "UK","LND",3500),
            ("Maria", "Anderson", "UK","MCR",3000)
            ]
columns = ["firstname","lastname","country","state","sal"]            
df = spark.createDataFrame( data = staticlist, schema = columns)
df.show()

+---------+--------+-------+-----+-----+
|firstname|lastname|country|state|  sal|
+---------+--------+-------+-----+-----+
|     raja|  pushpa|    USA|     |30000|
|    priya|  pushpa|    USA|     |29900|
|  Karthik|    Subu|    USA|   CA| 6000|
|    James|   Smith|    USA|   FL|20000|
|   Martin|   Jones|    USA|   CA| 3000|
|      Sam|Anderson|     UK|  LND| 8000|
|    Maria| Patrick|     UK|  MCR| 7000|
|    Robet|   Bevon|     UK|  LND| 3500|
|    Maria|Anderson|     UK|  MCR| 3000|
+---------+--------+-------+-----+-----+

In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import *
from delta.tables import *

In [0]:
df2 = df.withColumn("Full_Name",trim(concat(initcap("firstname"),lit(" "), initcap("lastname"))))
df4 = df2.withColumn("First4letters",substring("Full_Name",0,4))\
         .withColumn("Last4letters",substring("Full_Name",-4,4))\
         .withColumn("3rdpos_4letters",substring("Full_Name",3,4))\
         .withColumn("3rddigitrest",substring("Full_Name",3,length("Full_Name")))
df4.show()

+---------+--------+-------+-----+-----+--------------+-------------+------------+---------------+------------+
|firstname|lastname|country|state|  sal|     Full_Name|First4letters|Last4letters|3rdpos_4letters|3rddigitrest|
+---------+--------+-------+-----+-----+--------------+-------------+------------+---------------+------------+
|     raja|  pushpa|    USA|     |30000|   Raja Pushpa|         Raja|        shpa|           ja P|   ja Pushpa|
|    priya|  pushpa|    USA|     |29900|  Priya Pushpa|         Priy|        shpa|           iya |  iya Pushpa|
|  Karthik|    Subu|    USA|   CA| 6000|  Karthik Subu|         Kart|        Subu|           rthi|  rthik Subu|
|    James|   Smith|    USA|   FL|20000|   James Smith|         Jame|        mith|           mes |   mes Smith|
|   Martin|   Jones|    USA|   CA| 3000|  Martin Jones|         Mart|        ones|           rtin|  rtin Jones|
|      Sam|Anderson|     UK|  LND| 8000|  Sam Anderson|         Sam |        rson|           m An|  m Anderson|
|    Maria| Patrick|     UK|  MCR| 7000| Maria Patrick|         Mari|        rick|           ria | ria Patrick|
|    Robet|   Bevon|     UK|  LND| 3500|   Robet Bevon|         Robe|        evon|           bet |   bet Bevon|
|    Maria|Anderson|     UK|  MCR| 3000|Maria Anderson|         Mari|        rson|           ria |ria Anderson|
+---------+--------+-------+-----+-----+--------------+-------------+------------+---------------+------------+

In [0]:
df3 = df2.withColumn("split",split("Full_Name"," "))
df3.show()
df4 = df3.withColumn("First_Split",df3.split[0])\
         .withColumn("Second_Split",df3.split[1])
df4.show()

+---------+--------+-------+-----+-----+--------------+-----------------+
|firstname|lastname|country|state|  sal|     Full_Name|            split|
+---------+--------+-------+-----+-----+--------------+-----------------+
|     raja|  pushpa|    USA|     |30000|   Raja Pushpa|   [Raja, Pushpa]|
|    priya|  pushpa|    USA|     |29900|  Priya Pushpa|  [Priya, Pushpa]|
|  Karthik|    Subu|    USA|   CA| 6000|  Karthik Subu|  [Karthik, Subu]|
|    James|   Smith|    USA|   FL|20000|   James Smith|   [James, Smith]|
|   Martin|   Jones|    USA|   CA| 3000|  Martin Jones|  [Martin, Jones]|
|      Sam|Anderson|     UK|  LND| 8000|  Sam Anderson|  [Sam, Anderson]|
|    Maria| Patrick|     UK|  MCR| 7000| Maria Patrick| [Maria, Patrick]|
|    Robet|   Bevon|     UK|  LND| 3500|   Robet Bevon|   [Robet, Bevon]|
|    Maria|Anderson|     UK|  MCR| 3000|Maria Anderson|[Maria, Anderson]|
+---------+--------+-------+-----+-----+--------------+-----------------+

+---------+--------+-------+-----+-----+--------------+-----------------+-----------+------------+
|firstname|lastname|country|state|  sal|     Full_Name|            split|First_Split|Second_Split|
+---------+--------+-------+-----+-----+--------------+-----------------+-----------+------------+
|     raja|  pushpa|    USA|     |30000|   Raja Pushpa|   [Raja, Pushpa]|       Raja|      Pushpa|
|    priya|  pushpa|    USA|     |29900|  Priya Pushpa|  [Priya, Pushpa]|      Priya|      Pushpa|
|  Karthik|    Subu|    USA|   CA| 6000|  Karthik Subu|  [Karthik, Subu]|    Karthik|        Subu|
|    James|   Smith|    USA|   FL|20000|   James Smith|   [James, Smith]|      James|       Smith|
|   Martin|   Jones|    USA|   CA| 3000|  Martin Jones|  [Martin, Jones]|     Martin|       Jones|
|      Sam|Anderson|     UK|  LND| 8000|  Sam Anderson|  [Sam, Anderson]|        Sam|    Anderson|
|    Maria| Patrick|     UK|  MCR| 7000| Maria Patrick| [Maria, Patrick]|      Maria|     Patrick|
|    Robet|   Bevon|     UK|  LND| 3500|   Robet Bevon|   [Robet, Bevon]|      Robet|       Bevon|
|    Maria|Anderson|     UK|  MCR| 3000|Maria Anderson|[Maria, Anderson]|      Maria|    Anderson|
+---------+--------+-------+-----+-----+--------------+-----------------+-----------+------------+

In [0]:
# get the lenght of string
#length("Colname")
df5 = df2.select(df2['*'],length("Full_Name").alias("length"))
df5.show()

+---------+--------+-------+-----+-----+--------------+------+
|firstname|lastname|country|state|  sal|     Full_Name|length|
+---------+--------+-------+-----+-----+--------------+------+
|     raja|  pushpa|    USA|     |30000|   Raja Pushpa|    11|
|    priya|  pushpa|    USA|     |29900|  Priya Pushpa|    12|
|  Karthik|    Subu|    USA|   CA| 6000|  Karthik Subu|    12|
|    James|   Smith|    USA|   FL|20000|   James Smith|    11|
|   Martin|   Jones|    USA|   CA| 3000|  Martin Jones|    12|
|      Sam|Anderson|     UK|  LND| 8000|  Sam Anderson|    12|
|    Maria| Patrick|     UK|  MCR| 7000| Maria Patrick|    13|
|    Robet|   Bevon|     UK|  LND| 3500|   Robet Bevon|    11|
|    Maria|Anderson|     UK|  MCR| 3000|Maria Anderson|    14|
+---------+--------+-------+-----+-----+--------------+------+

In [0]:
df5.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- sal: long (nullable = true)
 |-- Full_Name: string (nullable = true)
 |-- length: integer (nullable = true)

In [0]:
#check if the column is null
df6 = df.withColumn("isnull",isnull("state"))
df6.show()

+---------+--------+-------+-----+-----+------+
|firstname|lastname|country|state|  sal|isnull|
+---------+--------+-------+-----+-----+------+
|     raja|  pushpa|    USA|     |30000| false|
|    priya|  pushpa|    USA|     |29900| false|
|  Karthik|    Subu|    USA|   CA| 6000| false|
|    James|   Smith|    USA|   FL|20000| false|
|   Martin|   Jones|    USA|   CA| 3000| false|
|      Sam|Anderson|     UK|  LND| 8000| false|
|    Maria| Patrick|     UK|  MCR| 7000| false|
|    Robet|   Bevon|     UK|  LND| 3500| false|
|    Maria|Anderson|     UK|  MCR| 3000| false|
+---------+--------+-------+-----+-----+------+

In [0]:
#Expression lanfuage : whenever a pyspark function is not found, we can use a SQL statement inside a pyspark statement using the Expresion language
#syntax: expr("SQL STATEMENT")

In [0]:
df.show()

+---------+--------+-------+-----+-----+
|firstname|lastname|country|state|  sal|
+---------+--------+-------+-----+-----+
|     raja|  pushpa|    USA|     |30000|
|    priya|  pushpa|    USA|     |29900|
|  Karthik|    Subu|    USA|   CA| 6000|
|    James|   Smith|    USA|   FL|20000|
|   Martin|   Jones|    USA|   CA| 3000|
|      Sam|Anderson|     UK|  LND| 8000|
|    Maria| Patrick|     UK|  MCR| 7000|
|    Robet|   Bevon|     UK|  LND| 3500|
|    Maria|Anderson|     UK|  MCR| 3000|
+---------+--------+-------+-----+-----+

In [0]:
# Replace USA with United states in new column

from pyspark.sql.functions import *
df2 = df.withColumn("N_Country",expr("CASE WHEN country = 'USA' THEN 'United States' ELSE country END"))
df2.show()

+---------+--------+-------+-----+-----+-------------+
|firstname|lastname|country|state|  sal|    N_Country|
+---------+--------+-------+-----+-----+-------------+
|     raja|  pushpa|    USA|     |30000|United States|
|    priya|  pushpa|    USA|     |29900|United States|
|  Karthik|    Subu|    USA|   CA| 6000|United States|
|    James|   Smith|    USA|   FL|20000|United States|
|   Martin|   Jones|    USA|   CA| 3000|United States|
|      Sam|Anderson|     UK|  LND| 8000|           UK|
|    Maria| Patrick|     UK|  MCR| 7000|           UK|
|    Robet|   Bevon|     UK|  LND| 3500|           UK|
|    Maria|Anderson|     UK|  MCR| 3000|           UK|
+---------+--------+-------+-----+-----+-------------+

Date Functions

Date usecases
# ytd,mtd,qtd,wtd,mom,yoy,year,quarter,month,week,previous year,previous month,convert to date
# last 12 months end data

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *
from delta.tables import *

data = [(1,'2025-01-07', '12/31/2024'),
        (2,'2024-01-01', '11/30/2023'),
        (3,'2025-02-21', '11/30/2023'),
        (4,'2025-02-20', '12/31/2024'),
        (5,'2025-03-23', '01/31/2024'),
        (6,'2025-01-23', '01/31/2025'),
        (7,'2022-04-17', '03/30/2022'),
        (8,'2022-05-27', '03/30/2022')]
        
col = ['s_no','StartDate','EndDate'] 
df = spark.createDataFrame(data = data, schema = col)
df.show()
df.printSchema()

+----+----------+----------+
|s_no| StartDate|   EndDate|
+----+----------+----------+
|   1|2025-01-07|12/31/2024|
|   2|2024-01-01|11/30/2023|
|   3|2025-02-21|11/30/2023|
|   4|2025-02-20|12/31/2024|
|   5|2025-03-23|01/31/2024|
|   6|2025-01-23|01/31/2025|
|   7|2022-04-17|03/30/2022|
|   8|2022-05-27|03/30/2022|
+----+----------+----------+

root
 |-- s_no: long (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- EndDate: string (nullable = true)

In [0]:
#cast a string data type to date type
#use to_date function to convert the string into a date format
#syntax: to_date("Datecol","dateformat")
df_cast = df.withColumn("StartDate",df.StartDate.cast(DateType()))\
            .withColumn("EndDate",to_date("EndDate","MM/dd/yyyy"))
df_cast.show()
df_cast.printSchema()

+----+----------+----------+
|s_no| StartDate|   EndDate|
+----+----------+----------+
|   1|2025-01-07|2024-12-31|
|   2|2024-01-01|2023-11-30|
|   3|2025-02-21|2023-11-30|
|   4|2025-02-20|2024-12-31|
|   5|2025-03-23|2024-01-31|
|   6|2025-01-23|2025-01-31|
|   7|2022-04-17|2022-03-30|
|   8|2022-05-27|2022-03-30|
+----+----------+----------+

root
 |-- s_no: long (nullable = true)
 |-- StartDate: date (nullable = true)
 |-- EndDate: date (nullable = true)

In [0]:
#get the year,month,quarter,day etc..

df_dates = df.withColumn("year",year("StartDate"))\
             .withColumn("quarter",quarter("StartDate"))\
             .withColumn("month",month("StartDate"))\
             .withColumn("day",dayofmonth("StartDate"))\
             .withColumn("dayofweek",dayofweek("StartDate"))\
             .withColumn("weekofyear",weekofyear("StartDate"))\
             .withColumn("dayofyear",dayofyear("StartDate"))   
             
df_dates.show()

+----+----------+----------+----+-------+-----+---+---------+----------+---------+
|s_no| StartDate|   EndDate|year|quarter|month|day|dayofweek|weekofyear|dayofyear|
+----+----------+----------+----+-------+-----+---+---------+----------+---------+
|   1|2025-01-07|12/31/2024|2025|      1|    1|  7|        3|         2|        7|
|   2|2024-01-01|11/30/2023|2024|      1|    1|  1|        2|         1|        1|
|   3|2025-02-21|11/30/2023|2025|      1|    2| 21|        6|         8|       52|
|   4|2025-02-20|12/31/2024|2025|      1|    2| 20|        5|         8|       51|
|   5|2025-03-23|01/31/2024|2025|      1|    3| 23|        1|        12|       82|
|   6|2025-01-23|01/31/2025|2025|      1|    1| 23|        5|         4|       23|
|   7|2022-04-17|03/30/2022|2022|      2|    4| 17|        1|        15|      107|
|   8|2022-05-27|03/30/2022|2022|      2|    5| 27|        6|        21|      147|
+----+----------+----------+----+-------+-----+---+---------+----------+---------+

In [0]:

df_dates = df_cast.withColumn("E_year",year("EndDate"))\
                  .withColumn("E_quarter",quarter("EndDate"))\
                  .withColumn("E_month",month("EndDate"))\
                  .withColumn("year",year("StartDate"))\
                   .withColumn("quarter",quarter("StartDate"))\
                   .withColumn("month",month("StartDate"))\
                   .withColumn("day",dayofmonth("StartDate"))\
                   .withColumn("dayofweek",dayofweek("StartDate"))\
                   .withColumn("weekofyear",weekofyear("StartDate"))\
                   .withColumn("dayofyear",dayofyear("StartDate"))     

df_dates.show()

+----+----------+----------+------+---------+-------+----+-------+-----+---+---------+----------+---------+
|s_no| StartDate|   EndDate|E_year|E_quarter|E_month|year|quarter|month|day|dayofweek|weekofyear|dayofyear|
+----+----------+----------+------+---------+-------+----+-------+-----+---+---------+----------+---------+
|   1|2025-01-07|2024-12-31|  2024|        4|     12|2025|      1|    1|  7|        3|         2|        7|
|   2|2024-01-01|2023-11-30|  2023|        4|     11|2024|      1|    1|  1|        2|         1|        1|
|   3|2025-02-21|2023-11-30|  2023|        4|     11|2025|      1|    2| 21|        6|         8|       52|
|   4|2025-02-20|2024-12-31|  2024|        4|     12|2025|      1|    2| 20|        5|         8|       51|
|   5|2025-03-23|2024-01-31|  2024|        1|      1|2025|      1|    3| 23|        1|        12|       82|
|   6|2025-01-23|2025-01-31|  2025|        1|      1|2025|      1|    1| 23|        5|         4|       23|
|   7|2022-04-17|2022-03-30|  2022|        1|      3|2022|      2|    4| 17|        1|        15|      107|
|   8|2022-05-27|2022-03-30|  2022|        1|      3|2022|      2|    5| 27|        6|        21|      147|
+----+----------+----------+------+---------+-------+----+-------+-----+---+---------+----------+---------+

In [0]:
# Add date to Existing dates
df_add1 = df_cast.withColumn("Add2_D_SD",date_add("StartDate",2))\
                  .withColumn("Add2_D_ED",date_add("EndDate",2))
df_add1.show()

+----+----------+----------+----------+----------+
|s_no| StartDate|   EndDate| Add2_D_SD| Add2_D_ED|
+----+----------+----------+----------+----------+
|   1|2025-01-07|2024-12-31|2025-01-09|2025-01-02|
|   2|2024-01-01|2023-11-30|2024-01-03|2023-12-02|
|   3|2025-02-21|2023-11-30|2025-02-23|2023-12-02|
|   4|2025-02-20|2024-12-31|2025-02-22|2025-01-02|
|   5|2025-03-23|2024-01-31|2025-03-25|2024-02-02|
|   6|2025-01-23|2025-01-31|2025-01-25|2025-02-02|
|   7|2022-04-17|2022-03-30|2022-04-19|2022-04-01|
|   8|2022-05-27|2022-03-30|2022-05-29|2022-04-01|
+----+----------+----------+----------+----------+

In [0]:
#Remove Days from Existing date
df_rmv = df_add1.withColumn("Rm_D_SD",date_sub("StartDate",2))\
                .withColumn("Rm_D_ED",date_sub("EndDate",2))
df_rmv.show()

+----+----------+----------+----------+----------+----------+----------+
|s_no| StartDate|   EndDate| Add2_D_SD| Add2_D_ED|   Rm_D_SD|   Rm_D_ED|
+----+----------+----------+----------+----------+----------+----------+
|   1|2025-01-07|2024-12-31|2025-01-09|2025-01-02|2025-01-05|2024-12-29|
|   2|2024-01-01|2023-11-30|2024-01-03|2023-12-02|2023-12-30|2023-11-28|
|   3|2025-02-21|2023-11-30|2025-02-23|2023-12-02|2025-02-19|2023-11-28|
|   4|2025-02-20|2024-12-31|2025-02-22|2025-01-02|2025-02-18|2024-12-29|
|   5|2025-03-23|2024-01-31|2025-03-25|2024-02-02|2025-03-21|2024-01-29|
|   6|2025-01-23|2025-01-31|2025-01-25|2025-02-02|2025-01-21|2025-01-29|
|   7|2022-04-17|2022-03-30|2022-04-19|2022-04-01|2022-04-15|2022-03-28|
|   8|2022-05-27|2022-03-30|2022-05-29|2022-04-01|2022-05-25|2022-03-28|
+----+----------+----------+----------+----------+----------+----------+

In [0]:
#add, remove months to existing date
df_add2 = df_cast.withColumn("Add2_M_SD",add_months("StartDate",2))\
            .withColumn("Add2_M_ED",add_months("EndDate",2))
df_add2.show()
df_rmv2 = df_cast.withColumn("Rm_M_SD",add_months("StartDate",-2))\
            .withColumn("Rm_M_ED",add_months("EndDate",-2))
df_rmv2.show()
df_rmv3 = df_add2.withColumn("Rm_M_SD",add_months("StartDate",-2))\
            .withColumn("Rm_M_ED",add_months("EndDate",-2))
df_rmv3.show()

+----+----------+----------+----------+----------+
|s_no| StartDate|   EndDate| Add2_M_SD| Add2_M_ED|
+----+----------+----------+----------+----------+
|   1|2025-01-07|2024-12-31|2025-03-07|2025-02-28|
|   2|2024-01-01|2023-11-30|2024-03-01|2024-01-30|
|   3|2025-02-21|2023-11-30|2025-04-21|2024-01-30|
|   4|2025-02-20|2024-12-31|2025-04-20|2025-02-28|
|   5|2025-03-23|2024-01-31|2025-05-23|2024-03-31|
|   6|2025-01-23|2025-01-31|2025-03-23|2025-03-31|
|   7|2022-04-17|2022-03-30|2022-06-17|2022-05-30|
|   8|2022-05-27|2022-03-30|2022-07-27|2022-05-30|
+----+----------+----------+----------+----------+

+----+----------+----------+----------+----------+
|s_no| StartDate|   EndDate|   Rm_M_SD|   Rm_M_ED|
+----+----------+----------+----------+----------+
|   1|2025-01-07|2024-12-31|2024-11-07|2024-10-31|
|   2|2024-01-01|2023-11-30|2023-11-01|2023-09-30|
|   3|2025-02-21|2023-11-30|2024-12-21|2023-09-30|
|   4|2025-02-20|2024-12-31|2024-12-20|2024-10-31|
|   5|2025-03-23|2024-01-31|2025-01-23|2023-11-30|
|   6|2025-01-23|2025-01-31|2024-11-23|2024-11-30|
|   7|2022-04-17|2022-03-30|2022-02-17|2022-01-30|
|   8|2022-05-27|2022-03-30|2022-03-27|2022-01-30|
+----+----------+----------+----------+----------+

+----+----------+----------+----------+----------+----------+----------+
|s_no| StartDate|   EndDate| Add2_M_SD| Add2_M_ED|   Rm_M_SD|   Rm_M_ED|
+----+----------+----------+----------+----------+----------+----------+
|   1|2025-01-07|2024-12-31|2025-03-07|2025-02-28|2024-11-07|2024-10-31|
|   2|2024-01-01|2023-11-30|2024-03-01|2024-01-30|2023-11-01|2023-09-30|
|   3|2025-02-21|2023-11-30|2025-04-21|2024-01-30|2024-12-21|2023-09-30|
|   4|2025-02-20|2024-12-31|2025-04-20|2025-02-28|2024-12-20|2024-10-31|
|   5|2025-03-23|2024-01-31|2025-05-23|2024-03-31|2025-01-23|2023-11-30|
|   6|2025-01-23|2025-01-31|2025-03-23|2025-03-31|2024-11-23|2024-11-30|
|   7|2022-04-17|2022-03-30|2022-06-17|2022-05-30|2022-02-17|2022-01-30|
|   8|2022-05-27|2022-03-30|2022-07-27|2022-05-30|2022-03-27|2022-01-30|
+----+----------+----------+----------+----------+----------+----------+

In [0]:
# Alternate otion to use date add for yer,quarter,week
df_add3 = df_cast.withColumn("Add2_Y_SD",expr("DATEADD(YEAR,2,StartDate)"))\
                 .withColumn("Add2_Y_ED",expr("DATEADD(YEAR,2,EndDate)"))\
                 .withColumn("Add2_Q_SD",expr("DATEADD(QUARTER,2,StartDate)"))\
                 .withColumn("Add2_Q_ED",expr("DATEADD(QUARTER,2,EndDate)"))\
                 .withColumn("Add2_W_SD",expr("DATEADD(WEEK,2,StartDate)"))\
                 .withColumn("Add2_W_ED",expr("DATEADD(WEEK,2,EndDate)"))      
df_add3.show()

+----+----------+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|s_no| StartDate|   EndDate|          Add2_Y_SD|          Add2_Y_ED|          Add2_Q_SD|          Add2_Q_ED|          Add2_W_SD|          Add2_W_ED|
+----+----------+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|   1|2025-01-07|2024-12-31|2027-01-07 00:00:00|2026-12-31 00:00:00|2025-07-07 00:00:00|2025-06-30 00:00:00|2025-01-21 00:00:00|2025-01-14 00:00:00|
|   2|2024-01-01|2023-11-30|2026-01-01 00:00:00|2025-11-30 00:00:00|2024-07-01 00:00:00|2024-05-30 00:00:00|2024-01-15 00:00:00|2023-12-14 00:00:00|
|   3|2025-02-21|2023-11-30|2027-02-21 00:00:00|2025-11-30 00:00:00|2025-08-21 00:00:00|2024-05-30 00:00:00|2025-03-07 00:00:00|2023-12-14 00:00:00|
|   4|2025-02-20|2024-12-31|2027-02-20 00:00:00|2026-12-31 00:00:00|2025-08-20 00:00:00|2025-06-30 00:00:00|2025-03-06 00:00:00|2025-01-14 00:00:00|
|   5|2025-03-23|2024-01-31|2027-03-23 00:00:00|2026-01-31 00:00:00|2025-09-23 00:00:00|2024-07-31 00:00:00|2025-04-06 00:00:00|2024-02-14 00:00:00|
|   6|2025-01-23|2025-01-31|2027-01-23 00:00:00|2027-01-31 00:00:00|2025-07-23 00:00:00|2025-07-31 00:00:00|2025-02-06 00:00:00|2025-02-14 00:00:00|
|   7|2022-04-17|2022-03-30|2024-04-17 00:00:00|2024-03-30 00:00:00|2022-10-17 00:00:00|2022-09-30 00:00:00|2022-05-01 00:00:00|2022-04-13 00:00:00|
|   8|2022-05-27|2022-03-30|2024-05-27 00:00:00|2024-03-30 00:00:00|2022-11-27 00:00:00|2022-09-30 00:00:00|2022-06-10 00:00:00|2022-04-13 00:00:00|
+----+----------+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+

In [0]:
#Last day of the month

df_lst = df.withColumn("Last_Day",last_day("StartDate"))
df_lst.show()

+----+----------+----------+----------+
|s_no| StartDate|   EndDate|  Last_Day|
+----+----------+----------+----------+
|   1|2025-01-07|12/31/2024|2025-01-31|
|   2|2024-01-01|11/30/2023|2024-01-31|
|   3|2025-02-21|11/30/2023|2025-02-28|
|   4|2025-02-20|12/31/2024|2025-02-28|
|   5|2025-03-23|01/31/2024|2025-03-31|
|   6|2025-01-23|01/31/2025|2025-01-31|
|   7|2022-04-17|03/30/2022|2022-04-30|
|   8|2022-05-27|03/30/2022|2022-05-31|
+----+----------+----------+----------+

In [0]:
#current dat will give the output as date only

df_cur = df.withColumn("current_date",current_date())
df_cur.show()

#current timestamp will give the output as timestamp

df_cur = df.withColumn("current_timestamp",current_timestamp())
df_cur.show()

+----+----------+----------+------------+
|s_no| StartDate|   EndDate|current_date|
+----+----------+----------+------------+
|   1|2025-01-07|12/31/2024|  2025-07-10|
|   2|2024-01-01|11/30/2023|  2025-07-10|
|   3|2025-02-21|11/30/2023|  2025-07-10|
|   4|2025-02-20|12/31/2024|  2025-07-10|
|   5|2025-03-23|01/31/2024|  2025-07-10|
|   6|2025-01-23|01/31/2025|  2025-07-10|
|   7|2022-04-17|03/30/2022|  2025-07-10|
|   8|2022-05-27|03/30/2022|  2025-07-10|
+----+----------+----------+------------+

+----+----------+----------+--------------------+
|s_no| StartDate|   EndDate|   current_timestamp|
+----+----------+----------+--------------------+
|   1|2025-01-07|12/31/2024|2025-07-10 06:53:...|
|   2|2024-01-01|11/30/2023|2025-07-10 06:53:...|
|   3|2025-02-21|11/30/2023|2025-07-10 06:53:...|
|   4|2025-02-20|12/31/2024|2025-07-10 06:53:...|
|   5|2025-03-23|01/31/2024|2025-07-10 06:53:...|
|   6|2025-01-23|01/31/2025|2025-07-10 06:53:...|
|   7|2022-04-17|03/30/2022|2025-07-10 06:53:...|
|   8|2022-05-27|03/30/2022|2025-07-10 06:53:...|
+----+----------+----------+--------------------+

In [0]:
# date_trunc will take you the start of the year, month,week
#yntax date_trunc('interval','datecol')

df_trunc = df.withColumn("ST_of_yr",date_trunc("year","StartDate"))\
             .withColumn("ST_of_month",date_trunc("month","StartDate"))\
             .withColumn("ST_of_quarter",date_trunc("quarter","StartDate"))\
             .withColumn("ST_of_week",date_trunc("week","StartDate"))
df_trunc.show()

+----+----------+----------+-------------------+-------------------+-------------------+-------------------+
|s_no| StartDate|   EndDate|           ST_of_yr|        ST_of_month|      ST_of_quarter|         ST_of_week|
+----+----------+----------+-------------------+-------------------+-------------------+-------------------+
|   1|2025-01-07|12/31/2024|2025-01-01 00:00:00|2025-01-01 00:00:00|2025-01-01 00:00:00|2025-01-06 00:00:00|
|   2|2024-01-01|11/30/2023|2024-01-01 00:00:00|2024-01-01 00:00:00|2024-01-01 00:00:00|2024-01-01 00:00:00|
|   3|2025-02-21|11/30/2023|2025-01-01 00:00:00|2025-02-01 00:00:00|2025-01-01 00:00:00|2025-02-17 00:00:00|
|   4|2025-02-20|12/31/2024|2025-01-01 00:00:00|2025-02-01 00:00:00|2025-01-01 00:00:00|2025-02-17 00:00:00|
|   5|2025-03-23|01/31/2024|2025-01-01 00:00:00|2025-03-01 00:00:00|2025-01-01 00:00:00|2025-03-17 00:00:00|
|   6|2025-01-23|01/31/2025|2025-01-01 00:00:00|2025-01-01 00:00:00|2025-01-01 00:00:00|2025-01-20 00:00:00|
|   7|2022-04-17|03/30/2022|2022-01-01 00:00:00|2022-04-01 00:00:00|2022-04-01 00:00:00|2022-04-11 00:00:00|
|   8|2022-05-27|03/30/2022|2022-01-01 00:00:00|2022-05-01 00:00:00|2022-04-01 00:00:00|2022-05-23 00:00:00|
+----+----------+----------+-------------------+-------------------+-------------------+-------------------+

In [0]:
# get the date format in "JUL-10"

df_fmt = df.withColumn("fmt",date_format("StartDate","MMM-dd"))
df_fmt.show()

# get the date format in "JULy-10"

df_fmt1 = df.withColumn("fmt",date_format("StartDate","MMMM-dd"))
df_fmt1.show()

+----+----------+----------+------+
|s_no| StartDate|   EndDate|   fmt|
+----+----------+----------+------+
|   1|2025-01-07|12/31/2024|Jan-07|
|   2|2024-01-01|11/30/2023|Jan-01|
|   3|2025-02-21|11/30/2023|Feb-21|
|   4|2025-02-20|12/31/2024|Feb-20|
|   5|2025-03-23|01/31/2024|Mar-23|
|   6|2025-01-23|01/31/2025|Jan-23|
|   7|2022-04-17|03/30/2022|Apr-17|
|   8|2022-05-27|03/30/2022|May-27|
+----+----------+----------+------+

+----+----------+----------+-----------+
|s_no| StartDate|   EndDate|        fmt|
+----+----------+----------+-----------+
|   1|2025-01-07|12/31/2024| January-07|
|   2|2024-01-01|11/30/2023| January-01|
|   3|2025-02-21|11/30/2023|February-21|
|   4|2025-02-20|12/31/2024|February-20|
|   5|2025-03-23|01/31/2024|   March-23|
|   6|2025-01-23|01/31/2025| January-23|
|   7|2022-04-17|03/30/2022|   April-17|
|   8|2022-05-27|03/30/2022|     May-27|
+----+----------+----------+-----------+

In [0]:
# get the hour, minutes, seconds from  a date
df2 = df.withColumn("current_TS",current_timestamp())
df2.show()
df3 = df2.withColumn("hour",hour("current_TS"))\
         .withColumn("minute",minute("current_TS"))\
         .withColumn("second",second("current_TS"))
df3.show()

+----+----------+----------+--------------------+
|s_no| StartDate|   EndDate|          current_TS|
+----+----------+----------+--------------------+
|   1|2025-01-07|12/31/2024|2025-07-10 07:03:...|
|   2|2024-01-01|11/30/2023|2025-07-10 07:03:...|
|   3|2025-02-21|11/30/2023|2025-07-10 07:03:...|
|   4|2025-02-20|12/31/2024|2025-07-10 07:03:...|
|   5|2025-03-23|01/31/2024|2025-07-10 07:03:...|
|   6|2025-01-23|01/31/2025|2025-07-10 07:03:...|
|   7|2022-04-17|03/30/2022|2025-07-10 07:03:...|
|   8|2022-05-27|03/30/2022|2025-07-10 07:03:...|
+----+----------+----------+--------------------+

+----+----------+----------+--------------------+----+------+------+
|s_no| StartDate|   EndDate|          current_TS|hour|minute|second|
+----+----------+----------+--------------------+----+------+------+
|   1|2025-01-07|12/31/2024|2025-07-10 07:03:...|   7|     3|     1|
|   2|2024-01-01|11/30/2023|2025-07-10 07:03:...|   7|     3|     1|
|   3|2025-02-21|11/30/2023|2025-07-10 07:03:...|   7|     3|     1|
|   4|2025-02-20|12/31/2024|2025-07-10 07:03:...|   7|     3|     1|
|   5|2025-03-23|01/31/2024|2025-07-10 07:03:...|   7|     3|     1|
|   6|2025-01-23|01/31/2025|2025-07-10 07:03:...|   7|     3|     1|
|   7|2022-04-17|03/30/2022|2025-07-10 07:03:...|   7|     3|     1|
|   8|2022-05-27|03/30/2022|2025-07-10 07:03:...|   7|     3|     1|
+----+----------+----------+--------------------+----+------+------+

In [0]:
#datefind function will return the difference in the form of no of days

df2 = df.withColumn("current_TS",current_timestamp())
df2.show()
df3 = df2.withColumn("diff_days",datediff("current_TS","StartDate"))
df3.show()

+----+----------+----------+--------------------+
|s_no| StartDate|   EndDate|          current_TS|
+----+----------+----------+--------------------+
|   1|2025-01-07|12/31/2024|2025-07-10 07:06:...|
|   2|2024-01-01|11/30/2023|2025-07-10 07:06:...|
|   3|2025-02-21|11/30/2023|2025-07-10 07:06:...|
|   4|2025-02-20|12/31/2024|2025-07-10 07:06:...|
|   5|2025-03-23|01/31/2024|2025-07-10 07:06:...|
|   6|2025-01-23|01/31/2025|2025-07-10 07:06:...|
|   7|2022-04-17|03/30/2022|2025-07-10 07:06:...|
|   8|2022-05-27|03/30/2022|2025-07-10 07:06:...|
+----+----------+----------+--------------------+

+----+----------+----------+--------------------+---------+
|s_no| StartDate|   EndDate|          current_TS|diff_days|
+----+----------+----------+--------------------+---------+
|   1|2025-01-07|12/31/2024|2025-07-10 07:06:...|      184|
|   2|2024-01-01|11/30/2023|2025-07-10 07:06:...|      556|
|   3|2025-02-21|11/30/2023|2025-07-10 07:06:...|      139|
|   4|2025-02-20|12/31/2024|2025-07-10 07:06:...|      140|
|   5|2025-03-23|01/31/2024|2025-07-10 07:06:...|      109|
|   6|2025-01-23|01/31/2025|2025-07-10 07:06:...|      168|
|   7|2022-04-17|03/30/2022|2025-07-10 07:06:...|     1180|
|   8|2022-05-27|03/30/2022|2025-07-10 07:06:...|     1140|
+----+----------+----------+--------------------+---------+

In [0]:
#get the difference in time b/w start date and todays date current time

df2 = df.withColumn("Start_of_today",date_trunc("day",current_timestamp()))\
        .withColumn("current_TS",current_timestamp())
df2.show()

+----+----------+----------+-------------------+--------------------+
|s_no| StartDate|   EndDate|     Start_of_today|          current_TS|
+----+----------+----------+-------------------+--------------------+
|   1|2025-01-07|12/31/2024|2025-07-10 00:00:00|2025-07-10 07:16:...|
|   2|2024-01-01|11/30/2023|2025-07-10 00:00:00|2025-07-10 07:16:...|
|   3|2025-02-21|11/30/2023|2025-07-10 00:00:00|2025-07-10 07:16:...|
|   4|2025-02-20|12/31/2024|2025-07-10 00:00:00|2025-07-10 07:16:...|
|   5|2025-03-23|01/31/2024|2025-07-10 00:00:00|2025-07-10 07:16:...|
|   6|2025-01-23|01/31/2025|2025-07-10 00:00:00|2025-07-10 07:16:...|
|   7|2022-04-17|03/30/2022|2025-07-10 00:00:00|2025-07-10 07:16:...|
|   8|2022-05-27|03/30/2022|2025-07-10 00:00:00|2025-07-10 07:16:...|
+----+----------+----------+-------------------+--------------------+

get the length count of firstsplit and second split